@using ArtsofteEmployee.Models.Dictioneries;

@model IEnumerable<ProgrammingLanguage>


@{
    ViewData["Title"] = "Programming languages";
}

<div class="container">
    @foreach (var language in Model) {
        <div class="card">
            <div class="card-body">
                <p class="card-title">@language.Name</p>
                <a class="btn btn-success" asp-action="Edit" asp-controller="ProgrammingLanguage" asp-route-id="@language.Id">Edit</a>
            </div>
        </div>
    }
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>